body {
  background-position: center;
  background-size: cover;
}

.header {
    width: 100%;
}

#heading {
    float: left;
}

#instruction {
    float: right;
    color: white;
    background-color: aqua;
    border-radius: 10px;
    width: 150px;
    height: 40px;
    margin-top: 5px;
    font-size: 20px;
}

.start {
    font-size: 20px;
    width: 200px;
}